<form role="form">
    <div class="form-group">
        <label for="user" class="control-label">Name</label>
        <select name="userSelect" id="user" ng-model="entry.user" ng-options="user._id as user.name for user in users "></select>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <div ng-controller="datepickerCtrl" style="display:inline-block;">
              <label for="date" class="control-label">Date</label>
              <uib-datepicker id="date" ng-model="entry.date"
                            min-date="minDate"
                            show-weeks="true"
                            class="well well-sm"
                            custom-class="getDayClass(date, mode)"
                            ng-required="true"
                            date-disabled="disabled(date, mode)">
            </uib-datepicker>
          </div>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" ng-click="saveEntry()" value="Save">
</form>