<div class="jumbotron">
  <h1 ng-if="isHeroOfTheDay(todaysDate, entries)">Today's support hero is {{heroOfTheDay(todaysDate, entries)}}.</h1>
  <h1 ng-if="!isHeroOfTheDay(todaysDate, entries)">No support hero scheduled for today.</h1>
</div>

<a class="btn btn-primary" href="/#/create/entry"><span class="glyphicon glyphicon-plus"></span> Create Entry</a>
<br>
<div >
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Date</th>
      <th>Operations</th>
    </thead>
    <tbody>
      <tr ng-repeat="entry in entries | orderBy : '-date' : 'reverse'">
        <td>{{ entry.name }}</td>
        <td>{{ entry.date | date:'MM-dd-yyyy' }}</td>
        <td>
          <div class="button-group">
            <a ng-href="/#/entry/{{ entry._id }}/edit" class="btn btn-default">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a ng-href="/#/entry/{{ entry._id }}/delete" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
